body {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    background-color: rgb(32, 129, 167);
}
